n8n/GitLab DevOps AI.json
{
  "name": "GitLab DevOps AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gitlab-ai",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "7ff802ca-a93e-4396-90ed-9cc1695d30b4",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1888,
        320
      ],
      "webhookId": "gitlab-ai-webhook"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst data = input.body || input;\nreturn [{ json: data }];"
      },
      "id": "ee526a9e-9733-4b90-877e-6efd13c9a773",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// ====================================================================\n// FILTER EVENTS - VERSIÓN FINAL con fallback\n// ====================================================================\n\nconst data = $input.first().json;\n\nconsole.log('='.repeat(60));\nconsole.log('🔍 FILTER EVENTS');\nconsole.log('='.repeat(60));\n\nlet eventType = null;\n\n// ====================================================================\n// CASO 1: Notificación CUSTOM de security-gate (desde GitLab CI)\n// ====================================================================\nif (data.event_type === 'security_passed') {\n  console.log('✅ Webhook CUSTOM: Security Passed');\n  console.log(`📦 Proyecto: ${data.project_name}`);\n  console.log(`🔀 Commit: ${data.commit_sha}`);\n  console.log(`🔗 Pipeline: #${data.pipeline_id}`);\n  \n  eventType = 'SECURITY_PASSED';\n\n// ====================================================================\n// CASO 2: Pipeline Hook normal (para todos los demás casos)\n// ====================================================================\n} else if (data.object_kind === 'pipeline') {\n  const builds = data.builds || [];\n  const pipelineStatus = data.object_attributes?.status;\n  \n  console.log(`📊 Pipeline Hook: ${pipelineStatus}`);\n  console.log(`📦 Total builds: ${builds.length}`);\n  \n  const securityGate = builds.find(job => job.name === 'security-gate');\n  const deployJob = builds.find(job => job.name === 'deploy-prd');\n  \n  if (securityGate) {\n    console.log(`🛡️ Security Gate: ${securityGate.status}`);\n  }\n  if (deployJob) {\n    console.log(`🚀 Deploy Job: ${deployJob.status} (manual: ${deployJob.manual})`);\n  }\n  \n  // PRIORIDAD 1: Deploy ejecutado (éxito o falla)\n  if (deployJob?.status === 'success') {\n    eventType = 'DEPLOY_SUCCESS';\n    data._deployStatus = 'success';\n    console.log('✅ RESULTADO: DEPLOY_SUCCESS');\n    \n  } else if (deployJob?.status === 'failed') {\n    eventType = 'DEPLOY_FAILED';\n    data._deployStatus = 'failed';\n    console.log('💥 RESULTADO: DEPLOY_FAILED');\n    \n  // PRIORIDAD 2: Security Gate FAILED\n  } else if (securityGate?.status === 'failed') {\n    eventType = 'SECURITY_FAILED';\n    data._failedJobName = 'security-gate';\n    console.log('❌ RESULTADO: SECURITY_FAILED');\n    \n  // PRIORIDAD 3: Security Gate PASSED + Deploy manual (FALLBACK)\n  // Este caso se activa cuando NO hay webhook custom configurado\n  } else if (securityGate?.status === 'success' && deployJob?.status === 'manual' && deployJob?.manual === true) {\n    eventType = 'SECURITY_PASSED';\n    console.log('✅ RESULTADO: SECURITY_PASSED (fallback from Pipeline Hook)');\n    console.log('⚠️ Nota: Webhook custom no fue enviado, usando Pipeline Hook como fallback');\n    \n  } else {\n    console.log('🔇 RESULTADO: No procesable');\n  }\n\n// ====================================================================\n// CASO 3: Otro tipo de webhook\n// ====================================================================\n} else {\n  console.log(`🔇 Webhook ignorado: ${data.object_kind || 'unknown'}`);\n}\n\nconsole.log('='.repeat(60) + '\\n');\n\n// Si no hay eventType, no procesar\nif (!eventType) {\n  return [];\n}\n\ndata._eventType = eventType;\nreturn [{ json: data }];"
      },
      "id": "65222ba7-a31e-48a2-baf5-f6bf4922701a",
      "name": "Filter Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1488,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nif (data._eventType === 'SECURITY_FAILED') {\n  console.log('→ Ruta: Security Failed');\n  return [{ json: data }];\n}\nreturn [];"
      },
      "id": "991bd14d-3ed6-4112-a454-c8fb5faff76a",
      "name": "Route Security Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nif (data._eventType === 'SECURITY_PASSED') {\n  console.log('→ Ruta: Security Passed');\n  return [{ json: data }];\n}\nreturn [];"
      },
      "id": "560bde8a-cacc-40ea-bc0c-87bfddfd4e7e",
      "name": "Route Security Passed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nif (data._eventType === 'DEPLOY_SUCCESS') {\n  console.log('→ Ruta: Deploy Success');\n  return [{ json: data }];\n}\nreturn [];"
      },
      "id": "7a663099-cd0c-4b8d-88d2-42cd9310a966",
      "name": "Route Deploy Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        624
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nif (data._eventType === 'DEPLOY_FAILED') {\n  console.log('→ Ruta: Deploy Failed');\n  return [{ json: data }];\n}\nreturn [];"
      },
      "id": "5864f71d-5fed-447f-af0a-c87c2b275b38",
      "name": "Route Deploy Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// ====================================================================\n// PREPARE ARTIFACTS - VERSIÓN CORREGIDA CON JOB IDs\n// ====================================================================\n// Reemplaza el código del nodo \"Prepare Artifacts\" con este\n\nconst data = $input.first().json;\nconst projectId = data.project.id;\nconst builds = data.builds || [];\n\nconsole.log('=====================================');\nconsole.log('🔧 PREPARE ARTIFACTS - NUEVA VERSIÓN');\nconsole.log('=====================================');\nconsole.log('📦 Total builds recibidos:', builds.length);\n\n// Mapeo de job names a sus IDs\nconst jobIds = {};\nbuilds.forEach(build => {\n    console.log(`  Job: ${build.name} → ID: ${build.id}`);\n    jobIds[build.name] = build.id;\n});\n\nconst securityJobs = [\n  { name: 'bandit-scan', file: 'bandit-report.json', parser: 'bandit' },\n  { name: 'trivy-scan', file: 'trivy-report.json', parser: 'trivy' },\n  { name: 'zap-scan', file: 'zap-results/zap-report.json', parser: 'zap' },\n  { name: 'gitleaks-scan', file: 'gitleaks-report.json', parser: 'gitleaks' },\n  { name: 'safety-scan', file: 'safety-report.json', parser: 'safety' }\n];\n\nconsole.log('\\n📋 Preparando artifacts:');\n\nreturn securityJobs.map(job => {\n    const jobId = jobIds[job.name];\n    \n    if (jobId) {\n        console.log(`✅ ${job.name}: Job ID ${jobId}`);\n    } else {\n        console.log(`⚠️ ${job.name}: Job ID no encontrado`);\n    }\n    \n    return {\n        json: {\n            projectId,\n            jobId: jobId || null,  // ⬅️ Agregamos el Job ID\n            jobName: job.name,\n            artifactPath: job.file,\n            parser: job.parser,\n            originalData: data\n        }\n    };\n});"
      },
      "id": "cae5cb63-1fbf-4c9f-b3a1-493dbe7f5ca0",
      "name": "Prepare Artifacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        48
      ]
    },
    {
      "parameters": {
        "url": "=http://gitlab-server:8000/api/v4/projects/{{$json.projectId}}/jobs/{{$json.jobId}}/artifacts/{{$json.artifactPath}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "02450a53-9c62-4d79-aa0f-395aa836d0f6",
      "name": "Download Artifact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -848,
        48
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wLCnTllYsQdOziNc",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ====================================================================\n// PARSE FINDINGS - VERSIÓN CON DEBUGGING EXTENSIVO\n// ====================================================================\n// Reemplaza el código del nodo \"Parse Findings\" con este\n\nconst items = $input.all();\nconst findings = [];\n\n// ⬇️ LOGGING INICIAL\nconsole.log('=====================================');\nconsole.log('🔍 PARSE FINDINGS - DEBUG');\nconsole.log('=====================================');\nconsole.log('📦 Total items recibidos:', items.length);\n\n// ➡️ Obtenemos el objeto original del webhook desde el primer ítem\nconst originalData = items[0]?.json?.originalData || {}; \n\nitems.forEach((item, index) => {\n    const parser = item.json.parser;\n    const jobName = item.json.jobName;\n    const artifactPath = item.json.artifactPath;\n    \n    console.log(`\\n📦 Item ${index + 1}/${items.length}`);\n    console.log(`   Job: ${jobName}`);\n    console.log(`   Parser: ${parser}`);\n    console.log(`   Artifact Path: ${artifactPath}`);\n    console.log(`   Keys disponibles:`, Object.keys(item.json).join(', '));\n    \n    // Detectar si el download falló\n    if (item.json.error) {\n        console.log(`   ❌ ERROR en download:`, item.json.error);\n        return;\n    }\n    \n    // El dato puede estar en diferentes lugares\n    let data = item.json.data || item.json.body || item.json;\n    \n    console.log(`   Data type:`, typeof data);\n    console.log(`   Is Array:`, Array.isArray(data));\n    \n    if (Array.isArray(data)) {\n        console.log(`   Array length:`, data.length);\n    } else if (typeof data === 'object' && data !== null) {\n        console.log(`   Object keys:`, Object.keys(data).slice(0, 5).join(', '));\n    }\n    \n    // Preview del data\n    const preview = JSON.stringify(data).substring(0, 200);\n    console.log(`   Preview: ${preview}...`);\n    \n    try {\n      switch(parser) {\n        case 'bandit':\n          console.log('\\n   🔍 Procesando BANDIT...');\n          if (data.results && Array.isArray(data.results)) {\n            console.log(`   ✅ Bandit tiene ${data.results.length} resultados`);\n            data.results.forEach(issue => {\n              if (['HIGH', 'MEDIUM'].includes(issue.issue_severity)) {\n                console.log(`      - ${issue.issue_severity}: ${issue.issue_text.substring(0, 50)}`);\n                findings.push({\n                  tool: 'Bandit',\n                  severity: issue.issue_severity,\n                  title: issue.issue_text,\n                  location: `${issue.filename}:${issue.line_number}`\n                });\n              }\n            });\n          } else {\n            console.log('   ⚠️ Bandit: no tiene results array');\n          }\n          break;\n          \n        case 'trivy':\n          console.log('\\n   🔍 Procesando TRIVY...');\n          if (data.Results && Array.isArray(data.Results)) {\n            let trivyCount = 0;\n            data.Results.forEach(result => {\n              if (result.Vulnerabilities && Array.isArray(result.Vulnerabilities)) {\n                result.Vulnerabilities.forEach(v => {\n                  if (['CRITICAL', 'HIGH'].includes(v.Severity)) {\n                    trivyCount++;\n                    findings.push({\n                      tool: 'Trivy',\n                      severity: v.Severity,\n                      title: v.VulnerabilityID,\n                      location: `${v.PkgName}@${v.InstalledVersion}`\n                    });\n                  }\n                });\n              }\n            });\n            console.log(`   ✅ Trivy encontró ${trivyCount} vulns CRITICAL/HIGH`);\n          } else {\n            console.log('   ⚠️ Trivy: no tiene Results array');\n          }\n          break;\n          \n        case 'zap':\n          console.log('\\n   🔍 Procesando ZAP...');\n          if (data.site && Array.isArray(data.site)) {\n            let zapCount = 0;\n            data.site.forEach(site => {\n              if (site.alerts && Array.isArray(site.alerts)) {\n                site.alerts.forEach(a => {\n                  // Mapeo ZAP: 3=High, 2=Medium\n                  if (a.riskcode === \"3\" || a.riskcode === \"2\") {\n                    zapCount++;\n                    findings.push({\n                      tool: 'ZAP',\n                      severity: a.riskcode === \"3\" ? \"HIGH\" : \"MEDIUM\",\n                      title: a.name,\n                      location: a.url\n                    });\n                  }\n                });\n              }\n            });\n            console.log(`   ✅ ZAP encontró ${zapCount} alerts HIGH/MEDIUM`);\n          } else {\n            console.log('   ⚠️ ZAP: no tiene site array');\n          }\n          break;\n          \n        case 'gitleaks':\n          console.log('\\n   🔍 Procesando GITLEAKS...');\n          console.log('   📄 Data completo:', JSON.stringify(data, null, 2));\n          \n          // GitLeaks retorna un array directo\n          let gitleaksData = data;\n          \n          // Verificar si viene envuelto en otro objeto\n          if (data.data) {\n            console.log('   ⚠️ Data envuelto en .data');\n            gitleaksData = data.data;\n          }\n          if (data.body) {\n            console.log('   ⚠️ Data envuelto en .body');\n            gitleaksData = data.body;\n          }\n          \n          console.log('   GitLeaks data type:', typeof gitleaksData);\n          console.log('   GitLeaks is Array:', Array.isArray(gitleaksData));\n          \n          if (Array.isArray(gitleaksData)) {\n            console.log(`   ✅ GitLeaks es array con ${gitleaksData.length} elementos`);\n            \n            if (gitleaksData.length > 0) {\n              console.log('   📋 Primer elemento:', JSON.stringify(gitleaksData[0], null, 2));\n              \n              gitleaksData.forEach((s, idx) => {\n                console.log(`   🔐 Secret ${idx + 1}:`);\n                console.log(`      RuleID: ${s.RuleID}`);\n                console.log(`      File: ${s.File}:${s.StartLine}`);\n                console.log(`      Secret: ${s.Secret ? s.Secret.substring(0, 15) + '...' : 'N/A'}`);\n                \n                findings.push({\n                  tool: 'GitLeaks',\n                  severity: 'CRITICAL',\n                  title: `Secret detected: ${s.RuleID || 'unknown'}`,\n                  description: s.Description || s.Match || 'No description',\n                  location: `${s.File}:${s.StartLine}`,\n                  secret_hint: s.Secret ? s.Secret.substring(0, 10) + '...' : 'N/A'\n                });\n              });\n              console.log(`   ✅ GitLeaks procesó ${gitleaksData.length} secrets`);\n            } else {\n              console.log('   ⚠️ GitLeaks array está vacío');\n            }\n          } else {\n            console.log('   ❌ GitLeaks NO es array!');\n            console.log('   Tipo recibido:', typeof gitleaksData);\n            if (typeof gitleaksData === 'object' && gitleaksData !== null) {\n              console.log('   Keys del objeto:', Object.keys(gitleaksData));\n            }\n          }\n          break;\n          \n        case 'safety':\n          console.log('\\n   🔍 Procesando SAFETY...');\n          if (data.vulnerabilities && Array.isArray(data.vulnerabilities)) {\n            console.log(`   ✅ Safety tiene ${data.vulnerabilities.length} vulnerabilidades`);\n            data.vulnerabilities.forEach(v => {\n              findings.push({\n                tool: 'Safety',\n                severity: 'MEDIUM',\n                title: v.package_name,\n                location: `${v.package_name}@${v.analyzed_version}`\n              });\n            });\n          } else {\n            console.log('   ⚠️ Safety: no tiene vulnerabilities array');\n          }\n          break;\n          \n        default:\n          console.log(`   ⚠️ Parser desconocido: ${parser}`);\n      }\n    } catch (e) {\n        console.error(`   ❌ Error parsing ${parser}:`, e.message);\n        console.error('   Stack:', e.stack);\n    }\n});\n\nconst c = findings.filter(f => f.severity === 'CRITICAL');\nconst h = findings.filter(f => f.severity === 'HIGH');\nconst m = findings.filter(f => f.severity === 'MEDIUM');\n\nconsole.log('\\n=====================================');\nconsole.log('📊 RESUMEN FINAL');\nconsole.log('=====================================');\nconsole.log(`   Total findings: ${findings.length}`);\nconsole.log(`   ├─ Critical: ${c.length}`);\nconsole.log(`   ├─ High: ${h.length}`);\nconsole.log(`   └─ Medium: ${m.length}`);\n\nif (findings.length > 0) {\n    console.log('\\n🎯 Top 5 findings:');\n    findings.slice(0, 5).forEach((f, idx) => {\n        console.log(`   ${idx + 1}. [${f.severity}] ${f.tool}: ${f.title.substring(0, 60)}`);\n    });\n} else {\n    console.log('\\n⚠️ NO SE ENCONTRARON FINDINGS!');\n    console.log('Verifica los logs anteriores para ver qué pasó con cada parser');\n}\n\nconsole.log('=====================================\\n');\n\nreturn [{\n  json: {\n    findings: { critical: c, high: h, medium: m },\n    summary: { \n      critical_count: c.length, \n      high_count: h.length, \n      medium_count: m.length,\n      total_count: findings.length\n    },\n    originalData: originalData\n  }\n}];"
      },
      "id": "5e68327b-2952-435a-8bf3-5421b5b1e1cb",
      "name": "Parse Findings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst f = d.findings;\nconst p = `Analiza hallazgos de seguridad:\\n\\nCritical: ${d.summary.critical_count}\\nHigh: ${d.summary.high_count}\\n\\n🔴 CRÍTICOS:\\n${f.critical.map(x => `[${x.tool}] ${x.title} en ${x.location}`).join('\\n')}\\n\\n🟠 HIGH:\\n${f.high.slice(0,5).map(x => `[${x.tool}] ${x.title}`).join('\\n')}\\n\\nIdentifica las 3 más peligrosas, explica qué son, por qué son críticas y cómo solucionarlas. Markdown en español.`;\nreturn [{ json: { prompt: p, findings: d.findings, summary: d.summary, originalData: d.originalData } }];"
      },
      "id": "49fb4a78-d9af-4d2e-b71e-f0087c105a1e",
      "name": "Prepare Ollama",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "// ====================================================================\n// NODO: \"Analyze Ollama\"\n// ====================================================================\n// Configuración:\n// - Type: Code (JavaScript)\n// - Name: Analyze Ollama\n// ====================================================================\n\nconst d = $input.first().json;\nconsole.log('🤖 Analyze Ollama - Starting...');\n\n// Si no hay findings críticos/alto, no llamamos a Ollama\nconst hasCriticalOrHigh = (d.findings && (d.findings.critical?.length > 0 || d.findings.high?.length > 0));\n\nif (!hasCriticalOrHigh) {\n  const analysis = \"No hay hallazgos CRÍTICOS ni HIGH. Se recomiendan revisar los hallazgos de nivel MEDIUM y ajustar políticas/patches según prioridad.\";\n  console.log('ℹ️ Sin hallazgos críticos, saltando Ollama');\n  return [{ \n    json: { \n      analysis, \n      findings: d.findings, \n      summary: d.summary, \n      originalData: d.originalData \n    } \n  }];\n}\n\n// Construir payload para Ollama\nconst payload = {\n  model: 'qwen2.5:7b',\n  prompt: d.prompt,\n  stream: false,\n  options: { \n    temperature: 0.3, \n    num_predict: 2000 \n  }\n};\n\nconsole.log(`📝 Prompt length: ${d.prompt?.length || 0} chars`);\nconsole.log(`🔍 Critical: ${d.findings.critical?.length || 0}, High: ${d.findings.high?.length || 0}`);\n\n// Request a Ollama\nlet res;\ntry {\n  console.log('⏳ Sending request to Ollama...');\n  \n  res = await this.helpers.request({\n    method: 'POST',\n    uri: 'http://192.168.0.16:11434/api/generate',\n    headers: { 'Content-Type': 'application/json' },\n    body: payload,\n    json: true,\n    timeout: 120000 // 120 segundos\n  });\n  \n  console.log('✅ Response received from Ollama');\n  \n} catch (err) {\n  console.error('❌ Error conectando a Ollama:', err.message);\n  \n  // Devolver análisis por defecto si falla Ollama\n  const fallbackAnalysis = `⚠️ **Error conectando a Ollama**\n\nNo se pudo obtener el análisis automatizado.\n\n**Error:** ${err.message}\n\n**Hallazgos detectados:**\n- 🔴 Críticos: ${d.findings.critical?.length || 0}\n- 🟠 Altos: ${d.findings.high?.length || 0}\n- 🟡 Medios: ${d.findings.medium?.length || 0}\n\n**Acción requerida:** Revisa manualmente los hallazgos críticos listados arriba.\n`;\n  \n  return [{ \n    json: { \n      analysis: fallbackAnalysis, \n      findings: d.findings, \n      summary: d.summary, \n      originalData: d.originalData,\n      ollamaError: err.message\n    } \n  }];\n}\n\n// Extraer análisis de la respuesta\nconst analysisText = res?.response || res?.text || JSON.stringify(res);\n\nconsole.log(`✅ Analysis received, length: ${analysisText.length} chars`);\n\nreturn [{ \n  json: { \n    analysis: analysisText, \n    findings: d.findings, \n    summary: d.summary, \n    originalData: d.originalData \n  } \n}];"
      },
      "id": "0ef3f6c9-51a8-4109-a42a-daf49cc9fa6f",
      "name": "Analyze Ollama",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "// ====================================================================\n// NODO: \"Format Security\" - Security Failed (Formato Limpio)\n// ====================================================================\n\nconst data = $input.first().json;\n\nconsole.log('❌ Preparando mensaje: Security Failed (Alineación de formato)');\n\n// Extraer datos\nconst analysis = data.analysis || 'Sin análisis disponible';\nconst summary = data.summary || {};\nconst originalData = data.originalData || {};\n\nconst project = originalData.project?.name || '-sin-project-';\nconst commit = originalData.object_attributes?.sha?.substring(0, 8) || '-';\nconst author = originalData.user?.name || '-sin-user-';\nconst pipelineUrl = originalData.object_attributes?.url || '-';\nconst pipelineId = originalData.object_attributes?.iid || originalData.object_attributes?.id || '?';\n\nconst critical = summary.critical_count || 0;\nconst high = summary.high_count || 0;\nconst medium = summary.medium_count || 0;\n\n// Determinar el mensaje principal de fallo (para reemplazar \"Todos los checks OK\")\nlet failSummary = '';\nif (critical > 0) {\n    failSummary = `⚠️ *FALLO CRÍTICO:* Secreto expuesto.`;\n} else if (high > 0) {\n    failSummary = `⚠️ *FALLO ALTO:* Revisar vulnerabilidades.`;\n} else {\n    failSummary = `⚠️ *SECURITY FAILED:* Hallazgos en nivel menor.`;\n}\n\n// ====================================================================\n// CONSTRUIR MENSAJE SIMPLE PARA SLACK (sin blocks)\n// ====================================================================\n\nconst slackMessage = `*❌ Security FAILED* 🛡️\n\n*📦 Proyecto:* ${project}\n*🔀 Commit:* \\`${commit}\\`\n\n${failSummary}\n\n*🚨 Resumen de Vulnerabilidades:*\n*Críticas:* 🔴 ${critical}\n*Altas:* 🟠 ${high}\n*Medias:* 🟡 ${medium}\n\n*Detalle:*\n${analysis}\n\n🔗 <${pipelineUrl}|Pipeline #${pipelineId}>`;\n\nconsole.log('📤 Mensaje preparado');\n\n// IMPORTANTE: Devolver slack_text_content\nreturn [{ json: { slack_text_content: slackMessage } }];"
      },
      "id": "609b71ba-019d-4ab9-8d2b-238a7a9b62b3",
      "name": "Format Security",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        48
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09RAN56Y92",
          "mode": "list",
          "cachedResultName": "devsecops"
        },
        "text": "={{$json.slack_text_content}}",
        "otherOptions": {}
      },
      "id": "ac766213-8bc1-4f97-bf31-7e6ccdce8382",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        400,
        336
      ],
      "webhookId": "48303dbf-b335-4da1-9c4c-f2c54d3ea556",
      "credentials": {
        "slackApi": {
          "id": "Jt63FDp67DS0T2Nw",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ====================================================================\n// MSG PASSED - ACTUALIZADO para webhook custom + Pipeline Hooks\n// ====================================================================\n\nconst data = $input.first().json;\n\nconsole.log('✅ Preparando mensaje: Security Passed');\n\nlet project, commit, author, pipelineUrl, pipelineId;\n\n// ====================================================================\n// EXTRAER DATOS SEGÚN TIPO\n// ====================================================================\n\nif (data.event_type === 'security_passed') {\n  // Webhook CUSTOM desde security-gate job\n  console.log('📋 Datos de webhook custom');\n  \n  project = data.project_name || '-sin-project-';\n  commit = data.commit_sha || '-';\n  author = data.commit_author || '-sin-user-';\n  pipelineId = data.pipeline_id || '?';\n  pipelineUrl = data.pipeline_url || '-';\n  \n} else if (data.object_kind === 'pipeline') {\n  // Pipeline Hook normal (por si acaso)\n  console.log('📋 Datos de Pipeline Hook');\n  \n  project = data.project?.name || '-sin-project-';\n  commit = data.object_attributes?.sha?.substring(0, 8) || '-';\n  author = data.user?.name || '-sin-user-';\n  pipelineUrl = data.object_attributes?.url || '-';\n  pipelineId = data.object_attributes?.iid || data.object_attributes?.id || '?';\n  \n} else {\n  // Fallback\n  console.log('⚠️ Tipo desconocido, usando valores por defecto');\n  project = '-sin-project-';\n  commit = '-';\n  author = '-sin-user-';\n  pipelineUrl = '-';\n  pipelineId = '?';\n}\n\nconsole.log(`📊 Proyecto: ${project}`);\nconsole.log(`🔀 Commit: ${commit}`);\nconsole.log(`👤 Autor: ${author}`);\nconsole.log(`🔗 Pipeline: #${pipelineId}`);\n\n// ====================================================================\n// CONSTRUIR MENSAJE PARA SLACK\n// ====================================================================\n\nconst message = {\n  text: `✅ Security OK 🛡️`,\n  blocks: [\n    {\n      type: \"header\",\n      text: {\n        type: \"plain_text\",\n        text: \"✅ Security OK 🛡️\"\n      }\n    },\n    {\n      type: \"section\",\n      text: {\n        type: \"mrkdwn\",\n        text: \"*--- Detalles ---*\"\n      }\n    },\n    {\n      type: \"section\",\n      fields: [\n        {\n          type: \"mrkdwn\",\n          text: `📦 *Proyecto:* ${project}`\n        },\n        {\n          type: \"mrkdwn\",\n          text: `🔀 *Commit:* \\`${commit}\\``\n        },\n        {\n          type: \"mrkdwn\",\n          text: `👤 *Autor:* ${author}`\n        }\n      ]\n    },\n    {\n      type: \"section\",\n      text: {\n        type: \"mrkdwn\",\n        text: \"✨ *Todos los checks OK*\\n🚀 *Deploy Manual Disponible*\"\n      }\n    },\n    {\n      type: \"section\",\n      text: {\n        type: \"mrkdwn\",\n        text: `🔗 <${pipelineUrl}|Pipeline #${pipelineId}>`\n      }\n    },\n    {\n      type: \"context\",\n      elements: [\n        {\n          type: \"mrkdwn\",\n          text: \"Automated with this <http://localhost:5678/workflow/89mG3HVUbUVLvRzi|n8n workflow>\"\n        }\n      ]\n    }\n  ]\n};\n\nconsole.log(`📤 Mensaje preparado`);\n\n// Formato simple para Slack (compatible con el nodo actual)\nconst slackMessage = `*✅ Security OK* 🛡️\n\n*--- Detalles ---*\n*📦 Proyecto:* ${project}\n*🔀 Commit:* \\`${commit}\\`\n*👤 Autor:* ${author}\n\n✨ *Todos los checks OK*\n🚀 *Deploy Manual Disponible*\n\n🔗 <${pipelineUrl}|Pipeline #${pipelineId}>`;\n\nreturn [{ json: { slack_text_content: slackMessage } }];"
      },
      "id": "3ef520d3-59e8-46c0-aeaa-5d627deba375",
      "name": "Msg Passed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "// ====================================================================\n// NODO: \"Msg Deploy OK\" - CORREGIDO\n// ====================================================================\n\nconst data = $input.first().json;\n\nconsole.log('✅ Preparando mensaje: Deploy Success');\n\n// Extraer datos del Pipeline Hook\nconst project = data.project?.name || '-sin-project-';\nconst commit = data.object_attributes?.sha?.substring(0, 8) || '-';\nconst author = data.user?.name || '-sin-user-';\nconst pipelineUrl = data.object_attributes?.url || '-';\nconst pipelineId = data.object_attributes?.iid || data.object_attributes?.id || '?';\n\nconsole.log(`📊 Proyecto: ${project}`);\nconsole.log(`🔀 Commit: ${commit}`);\nconsole.log(`👤 Autor: ${author}`);\nconsole.log(`🔗 Pipeline: #${pipelineId}`);\n\n// ====================================================================\n// CONSTRUIR MENSAJE SIMPLE PARA SLACK (sin blocks)\n// ====================================================================\n\nconst slackMessage = `*✅ Deploy OK* 🚀\n\n*📦 Proyecto:* ${project}\n*🔀 Commit:* \\`${commit}\\`\n\n✨ *Todos los checks OK*\n🚀 *Deploy completado exitosamente*\n\n🔗 <${pipelineUrl}|Pipeline #${pipelineId}>`;\n\nconsole.log(`📤 Mensaje preparado`);\n\n// Devolver en formato simple que Slack espera\nreturn [{ json: { slack_text_content: slackMessage } }];"
      },
      "id": "2e40850e-9243-435c-95bf-52dc0fd416ec",
      "name": "Msg Deploy OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        624
      ]
    },
    {
      "parameters": {
        "url": "=http://gitlab-server:8000/api/v4/projects/{{$json.project.id}}/pipelines/{{$json.object_attributes.id}}/jobs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "9a4b4d21-5c54-43df-bdb3-19365b2edb66",
      "name": "Get Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1008,
        224
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wLCnTllYsQdOziNc",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jobs = $input.all();\nconst f = jobs.find(j => j.json.name === 'deploy-prd' && j.json.status === 'failed');\nif (!f) throw new Error('Deploy no encontrado');\nreturn [{ json: f.json }];"
      },
      "id": "4aa4952c-0ed9-4743-8d7b-5acd9f17036b",
      "name": "Get Failed Deploy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        224
      ]
    },
    {
      "parameters": {
        "url": "=http://gitlab-server:8000/api/v4/projects/{{$node[\"Normalize Data\"].json[\"project\"][\"id\"]}}/jobs/{{$node[\"Get Failed Deploy\"].json[\"id\"]}}/trace",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "47c470be-58c7-4806-94e1-876ffd1c1188",
      "name": "Get Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        224
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wLCnTllYsQdOziNc",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const logs = $input.first().json.data || $input.first().json;\nconst o = $items('Normalize Data')[0]?.json || {};\nconst p = `Analiza log de deploy fallido:\\n\\`\\`\\`\\n${logs}\\n\\`\\`\\`\\n\\n1. Causa raíz\\n2. Explicación\\n3. Solución\\n4. Prevención\\n\\nMarkdown español.`;\nreturn [{ json: { prompt: p, originalData: o } }];"
      },
      "id": "163349f5-ad27-46e8-97dd-dbcd8a78003e",
      "name": "Prep Deploy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// ====================================================================\n// NODO: \"Ollama Deploy\" - CORREGIDO con this.helpers.request\n// ====================================================================\n\nconst data = $input.first().json;\n\nconsole.log('🤖 Ollama Deploy - Starting...');\nconsole.log(`📝 Prompt length: ${data.prompt?.length || 0} chars`);\n\n// Verificar que tenemos prompt y originalData\nif (!data.prompt) {\n  console.log('⚠️ WARNING: No prompt received');\n  return [{\n    json: {\n      analysis: 'Error: No se recibió prompt para analizar',\n      originalData: data.originalData || data\n    }\n  }];\n}\n\n// ====================================================================\n// Construir payload para Ollama\n// ====================================================================\n\nconst payload = {\n  model: 'qwen2.5:7b',\n  prompt: data.prompt,\n  stream: false,\n  options: { \n    temperature: 0.3, \n    num_predict: 1500 \n  }\n};\n\nconsole.log('🔍 Enviando request a Ollama...');\n\n// ====================================================================\n// IMPORTANTE: Usar this.helpers.request() NO $http.request()\n// ====================================================================\n\nlet response;\n\ntry {\n  console.log('⏳ Esperando respuesta de Ollama...');\n  \n  response = await this.helpers.request({\n    method: 'POST',\n    uri: 'http://192.168.0.16:11434/api/generate',\n    headers: { \n      'Content-Type': 'application/json' \n    },\n    body: payload,\n    json: true,\n    timeout: 120000  // 120 segundos\n  });\n  \n  console.log('✅ Respuesta recibida de Ollama');\n  console.log(`📊 Response length: ${response?.response?.length || 0} chars`);\n  \n} catch (error) {\n  console.log('❌ Error conectando a Ollama:', error.message);\n  \n  // Fallback: devolver sin análisis PERO con originalData\n  const fallbackAnalysis = `⚠️ **Error conectando a Ollama**\n\nNo se pudo obtener el análisis automatizado del deploy fallido.\n\n**Error:** ${error.message}\n\n**Información del deploy:**\n- Job: deploy-prd\n- Estado: FAILED\n- Razón: ${data.failureReason || 'script_failure'}\n\n**Acción requerida:** Revisa manualmente los logs del job en GitLab.`;\n  \n  return [{\n    json: {\n      analysis: fallbackAnalysis,\n      originalData: data.originalData || data,\n      ollamaError: error.message\n    }\n  }];\n}\n\n// ====================================================================\n// Extraer análisis de la respuesta\n// ====================================================================\n\nconst analysisText = response?.response || response?.text || JSON.stringify(response);\n\nif (!analysisText || analysisText.length === 0) {\n  console.log('⚠️ WARNING: Ollama respondió vacío');\n  return [{\n    json: {\n      analysis: 'Error: Ollama respondió sin contenido',\n      originalData: data.originalData || data\n    }\n  }];\n}\n\nconsole.log('✅ Análisis recibido correctamente');\n\n// ====================================================================\n// Retornar análisis con originalData\n// ====================================================================\n\nreturn [{\n  json: {\n    analysis: analysisText,\n    originalData: data.originalData || data,\n    _ollamaSuccess: true\n  }\n}];"
      },
      "id": "9bbe12d7-6e14-4349-8fd6-546f039720e5",
      "name": "Ollama Deploy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// ====================================================================\n// NODO: \"Format Deploy\" - FINAL CORREGIDO\n// ====================================================================\n\nconst data = $input.first().json;\n\nconsole.log('💥 Format Deploy iniciado');\n\n// ====================================================================\n// EXTRAER ANÁLISIS DE OLLAMA\n// ====================================================================\n\nconst analysis = data.analysis || 'Análisis no disponible';\nconst ollamaSuccess = data._ollamaSuccess || false;\n\nconsole.log(`🤖 Ollama success: ${ollamaSuccess}`);\nconsole.log(`📝 Analysis length: ${analysis.length} chars`);\n\n// ====================================================================\n// IMPORTANTE: Los datos están en data.originalData, NO en data\n// ====================================================================\n\nconst originalData = data.originalData || {};\nconst objectKind = originalData.object_kind || 'unknown';\n\nconsole.log(`📋 Webhook type: ${objectKind}`);\nconsole.log(`📊 originalData keys: ${Object.keys(originalData).join(', ')}`);\n\nlet project, commit, author, pipelineUrl, pipelineId, deployJobUrl;\n\n// ====================================================================\n// EXTRAER DATOS SEGÚN TIPO DE WEBHOOK\n// ====================================================================\n\nif (objectKind === 'build') {\n  // Job Hook\n  console.log('📋 Extrayendo datos de Job Hook');\n  \n  project = originalData.project?.name || originalData.project_name || 'Python Application';\n  commit = originalData.sha?.substring(0, 8) || \n           (originalData.commit?.sha ? originalData.commit.sha.substring(0, 8) : 'unknown');\n  author = originalData.commit?.author_name || originalData.user?.name || 'DevOps';\n  pipelineId = originalData.pipeline_id || '?';\n  \n  const projectUrl = originalData.repository?.homepage || originalData.project?.web_url || '';\n  if (projectUrl) {\n    pipelineUrl = `${projectUrl}/-/pipelines/${pipelineId}`;\n    deployJobUrl = `${projectUrl}/-/jobs/${originalData.build_id}`;\n  } else {\n    pipelineUrl = '#';\n    deployJobUrl = '#';\n  }\n  \n} else if (objectKind === 'pipeline') {\n  // Pipeline Hook\n  console.log('📋 Extrayendo datos de Pipeline Hook');\n  \n  project = originalData.project?.name || 'Python Application';\n  commit = originalData.object_attributes?.sha?.substring(0, 8) || \n           originalData.commit?.id?.substring(0, 8) || 'unknown';\n  author = originalData.user?.name || originalData.commit?.author?.name || 'Administrator';\n  pipelineUrl = originalData.object_attributes?.url || '#';\n  pipelineId = originalData.object_attributes?.iid || \n               originalData.object_attributes?.id || '?';\n  \n  // Buscar el job de deploy en builds\n  const builds = originalData.builds || [];\n  const deployJob = builds.find(b => b.name === 'deploy-prd');\n  const projectUrl = originalData.project?.web_url || '';\n  \n  if (deployJob && projectUrl) {\n    deployJobUrl = `${projectUrl}/-/jobs/${deployJob.id}`;\n  } else {\n    deployJobUrl = '#';\n  }\n  \n} else {\n  console.log('⚠️ Tipo de webhook desconocido - usando valores por defecto');\n  project = originalData.project?.name || 'Python Application';\n  commit = 'unknown';\n  author = originalData.user?.name || 'Administrator';\n  pipelineUrl = '#';\n  pipelineId = '?';\n  deployJobUrl = '#';\n}\n\nconsole.log('📊 Datos extraídos:');\nconsole.log(`   Proyecto: ${project}`);\nconsole.log(`   Commit: ${commit}`);\nconsole.log(`   Autor: ${author}`);\nconsole.log(`   Pipeline: #${pipelineId}`);\n\n// ====================================================================\n// CONSTRUIR MENSAJE PARA SLACK CON ANÁLISIS DE OLLAMA\n// ====================================================================\n\nconst slackMessage = `*💥 Deploy FAILED*\n\n*--- Detalles ---*\n*📦 Proyecto:* ${project}\n*🔀 Commit:* \\`${commit}\\`\n*👤 Autor:* ${author}\n\n❌ *El deploy manual ha fallado*\n\n*🤖 Análisis de IA:*\n${analysis}\n\n⚠️ Revisa los logs del job para más detalles.\n\n🔗 <${pipelineUrl}|Pipeline #${pipelineId}>\n📋 <${deployJobUrl}|Ver logs del deploy>`;\n\nconsole.log('📤 Mensaje preparado');\n\n// IMPORTANTE: Devolver slack_text_content\nreturn [{ \n  json: { \n    slack_text_content: slackMessage,\n    _debug: {\n      project,\n      commit,\n      author,\n      pipelineId,\n      ollamaSuccess\n    }\n  } \n}];"
      },
      "id": "f403f924-7338-43aa-b327-588cd47726a9",
      "name": "Format Deploy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// ====================================================================\n// NODO: \"Restructure Data\"\n// ====================================================================\n// Configuración:\n// - Type: Code (JavaScript)\n// - Name: Restructure Data\n// - Position: Download Artifact → Restructure Data → Parse Findings\n//\n// Este nodo soluciona DOS problemas:\n// 1. Parsea el JSON string del campo \"data\" a objeto JSON\n// 2. Agrega los metadatos necesarios (parser, jobName, originalData)\n// ====================================================================\n\nconst downloadedItems = $input.all();\n\n// Obtener los items del nodo \"Prepare Artifacts\" para recuperar metadatos\nconst preparedItems = $('Prepare Artifacts').all();\n\nconsole.log('='.repeat(60));\nconsole.log('🔄 RESTRUCTURE DATA');\nconsole.log('='.repeat(60));\nconsole.log(`📦 Items recibidos de Download: ${downloadedItems.length}`);\nconsole.log(`📋 Items de Prepare Artifacts: ${preparedItems.length}`);\n\nconst restructuredItems = downloadedItems.map((downloadItem, index) => {\n    console.log(`\\n--- Processing item ${index + 1} ---`);\n    \n    // Obtener metadatos del mismo índice en Prepare Artifacts\n    const preparedItem = preparedItems[index];\n    \n    if (!preparedItem) {\n        console.log(`⚠️ No hay item preparado en index ${index}`);\n        return downloadItem; // Pasar tal cual si no hay metadata\n    }\n    \n    const metadata = preparedItem.json;\n    console.log(`Parser: ${metadata.parser}`);\n    console.log(`Job: ${metadata.jobName}`);\n    \n    // Obtener el data descargado\n    let downloadedData = downloadItem.json.data;\n    \n    // Si es un string, parsearlo a JSON\n    let parsedData;\n    if (typeof downloadedData === 'string') {\n        console.log('📄 Data es STRING, parseando...');\n        try {\n            parsedData = JSON.parse(downloadedData);\n            console.log('✅ JSON parseado correctamente');\n        } catch (error) {\n            console.log(`❌ Error parseando JSON: ${error.message}`);\n            // Si falla el parseo, marcar como error\n            parsedData = { \n                error: `Failed to parse JSON: ${error.message}`,\n                raw: downloadedData.substring(0, 500) // Primeros 500 chars\n            };\n        }\n    } else {\n        console.log('📄 Data ya es un OBJETO');\n        parsedData = downloadedData;\n    }\n    \n    // Construir el item con la estructura correcta\n    const restructuredItem = {\n        json: {\n            parser: metadata.parser,\n            jobName: metadata.jobName,\n            jobId: metadata.jobId,\n            artifactPath: metadata.artifactPath,\n            data: parsedData,  // ⬅️ Data como OBJETO, no string\n            originalData: metadata.originalData || {}\n        }\n    };\n    \n    console.log(`✅ Item reestructurado para ${metadata.parser}`);\n    \n    return restructuredItem;\n});\n\nconsole.log('\\n' + '='.repeat(60));\nconsole.log(`✅ Total items reestructurados: ${restructuredItems.length}`);\nconsole.log('='.repeat(60) + '\\n');\n\nreturn restructuredItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        48
      ],
      "id": "5141968b-1ab4-45eb-9f1d-6cfbee493686",
      "name": "Restructure Data"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Filter Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Events": {
      "main": [
        [
          {
            "node": "Route Security Failed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route Security Passed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route Deploy Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route Deploy Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Security Failed": {
      "main": [
        [
          {
            "node": "Prepare Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Security Passed": {
      "main": [
        [
          {
            "node": "Msg Passed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Deploy Success": {
      "main": [
        [
          {
            "node": "Msg Deploy OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Deploy Failed": {
      "main": [
        [
          {
            "node": "Get Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Artifacts": {
      "main": [
        [
          {
            "node": "Download Artifact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Artifact": {
      "main": [
        [
          {
            "node": "Restructure Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Findings": {
      "main": [
        [
          {
            "node": "Prepare Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Ollama": {
      "main": [
        [
          {
            "node": "Analyze Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Ollama": {
      "main": [
        [
          {
            "node": "Format Security",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Security": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg Passed": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg Deploy OK": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Jobs": {
      "main": [
        [
          {
            "node": "Get Failed Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Failed Deploy": {
      "main": [
        [
          {
            "node": "Get Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Logs": {
      "main": [
        [
          {
            "node": "Prep Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Deploy": {
      "main": [
        [
          {
            "node": "Ollama Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Deploy": {
      "main": [
        [
          {
            "node": "Format Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Deploy": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restructure Data": {
      "main": [
        [
          {
            "node": "Parse Findings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd662c79-d467-4a27-9e56-1e4a17c13fb7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9aa1fcb88608077549c2a64f82629f4c1c4b97d773604b46650e871ec01370c2"
  },
  "id": "89mG3HVUbUVLvRzi",
  "tags": []
}