n8n/workflow_k3s.json
{
  "name": "GitLab DevOps AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gitlab-ai",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "2ffef090-8e76-4d55-9e91-406a86f1a2a6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [-784, 192],
      "webhookId": "gitlab-ai-webhook"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst data = input.body || input;\nreturn [{ json: data }];"
      },
      "id": "d785a9a1-43e7-496e-b463-af488b285d6f",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-624, 192]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "deployment_success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.object_attributes.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "leftValue": "={{ $json.object_attributes.status }}",
              "rightValue": "running",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "9a4a4eb4-fec1-4260-b0ad-7aac262ab546",
      "name": "Pipeline or Deploy Finished?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-432, 192]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.object_attributes.status }}",
              "value2": "failed"
            }
          ]
        }
      },
      "id": "b0450b48-7ce0-4118-8a1d-2242c15bfa54",
      "name": "Pipeline Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-208, 96]
    },
    {
      "parameters": {
        "url": "=http://gitlab-server:8000/api/v4/projects/{{ $json.project.id }}/pipelines/{{ $json.object_attributes.id }}/jobs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "83233a21-9d83-4dc3-a5bc-111354921b4c",
      "name": "Get Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "HuuD98t7B5PbZAHf",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jobs = $input.all();\nconst failedJobs = jobs.filter(job => job.json.status === 'failed');\nif (failedJobs.length === 0) {\n  throw new Error('No failed jobs found');\n}\nfailedJobs.sort((a, b) => b.json.id - a.json.id);\nreturn [{ json: failedJobs[0].json }];"
      },
      "id": "54feb2ca-ccdf-490a-82ef-50085e4011b8",
      "name": "Get Failed Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 0]
    },
    {
      "parameters": {
        "url": "=http://gitlab-server:8000/api/v4/projects/{{ $node[\"Normalize Data\"].json[\"project\"][\"id\"] }}/jobs/{{ $node[\"Get Failed Job\"].json[\"id\"] }}/trace\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "d7debd81-8fe0-462e-b7a4-c7c08e252cde",
      "name": "Get Job Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [432, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "HuuD98t7B5PbZAHf",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nif (!input.data || input.data.trim() === '') {\n  return [{\n    json: {\n      body: {\n        model: \"mistral:7b-instruct\",\n        prompt: \"El job falló pero no tiene logs disponibles.\",\n        stream: false,\n        options: { temperature: 0.2, top_p: 0.9 }\n      }\n    }\n  }];\n}\nconst cleanLog = input.data.replace(/\\u001b\\[[0-9;]*m/g, '');\nconst body = {\n  model: \"mistral:7b-instruct\",\n  prompt: `Analiza este error de pipeline de Python/CI/CD y proporciona:\\n\\n📋 RESUMEN (1-2 líneas): ¿Qué falló?\\n\\n🔍 CAUSA RAÍZ: ¿Por qué?\\n\\n📂 ARCHIVO(S): Lista archivos y líneas\\n\\n✅ SOLUCIÓN: Código corregido\\n\\nLog:\\n---\\n${cleanLog}\\n---`,\n  stream: false,\n  options: { temperature: 0.2, top_p: 0.9 }\n};\nreturn [{ json: { body } }];"
      },
      "id": "aa4e8459-db9e-4fec-a2c3-5b8f9e48f64c",
      "name": "Prepare Ollama JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [624, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.12:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json[\"body\"]}}",
        "options": {}
      },
      "id": "a4f700ca-a35e-42ea-8537-6b69b5b89571",
      "name": "Analyze with Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [816, 0]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst ollamaResponse = Array.isArray(input) ? input[0] : input.body?.[0] || input;\nconst analysis = ollamaResponse.response || \"(sin respuesta)\";\nconst webhookData = $items('Normalize Data')[0]?.json || {};\nconst failedJobData = $items('Get Failed Job')[0]?.json || {};\n\nconst messageText = `\n*🚨 Pipeline Fallido*\n\n*📦 Proyecto:* ${webhookData.project?.name || 'N/A'}\n*🌿 Rama:* ${webhookData.object_attributes?.ref || 'N/A'}\n*🧩 Job:* ${failedJobData.name || 'N/A'}\n*🔗:* <${webhookData.object_attributes?.url}|Ver Pipeline>\n\n*🤖 Análisis AI*\n${analysis}\n`;\n\nreturn [{ json: { slack_text_content: messageText } }];"
      },
      "id": "73bfdb67-6d6f-4755-939e-6ceb1118250f",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1008, 0]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Detectar deployment event\nif (data.event_type === 'deployment_success') {\n  const deployment = data.deployment;\n  const deploymentMessage = `\n*✅ Deploy Exitoso a Producción*\n\n*📦 Proyecto:* ${data.project?.name || 'N/A'}\n*🌿 Rama:* ${data.object_attributes?.ref || 'N/A'}\n*🔨 Commit:* \\`${deployment?.commit_short || 'N/A'}\\`\n*💬 Mensaje:* ${deployment?.commit_message || 'N/A'}\n*👤 Autor:* ${deployment?.author || 'N/A'}\n\n*🐳 Imagen:* \\`${deployment?.image_tag || 'N/A'}\\`\n*🌍 App:* ${deployment?.app_url || 'N/A'}\n\n*🔗 Enlaces:*\n• <${data.object_attributes?.url || '#'}|Pipeline #${data.object_attributes?.id || 'N/A'}>\n• <${deployment?.job_url || '#'}|Job de Deploy>\n\n_Deployado automáticamente_ 🚀\n`;\n\n  return [{ json: { slack_text_content: deploymentMessage } }];\n}\n\n// Pipeline success normal\nconst successMessage = `\n*✅ Pipeline Exitoso*\n\n*📦 Proyecto:* ${data.project?.name || 'N/A'}\n*🌿 Rama:* ${data.object_attributes?.ref || 'N/A'}\n*⏱️ Duración:* ${data.object_attributes?.duration || 'N/A'}s\n*🔗:* ${data.object_attributes?.url || '#'}\n\n*📊 Jobs:*\n${data.builds?.filter(b => b.status === 'success').map(b => `  • ${b.name} (${b.duration}s)`).join('\\n') || 'N/A'}\n`;\n\nreturn [{ json: { slack_text_content: successMessage } }];"
      },
      "id": "1fd8a25b-4a57-4d4a-be4d-c68f9612bb32",
      "name": "Pipeline Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 192]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ignored: true, message: \"Pipeline running\" } }];"
      },
      "id": "27bffdc0-10e4-4484-a9f5-af81f27beee6",
      "name": "Ignore Running",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-208, 304]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "C09RAN56Y92"
        },
        "text": "={{ $json.slack_text_content }}",
        "otherOptions": {}
      },
      "id": "8aa2d93b-5980-42bf-a334-63cdee79612d",
      "name": "Send a message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [1296, 192],
      "webhookId": "50a51d59-30c3-4052-ab32-e6d65939a749",
      "credentials": {
        "slackApi": {
          "id": "xHMoUydfsqX5Xfy3",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Normalize Data", "type": "main", "index": 0 }]]
    },
    "Normalize Data": {
      "main": [[{ "node": "Pipeline or Deploy Finished?", "type": "main", "index": 0 }]]
    },
    "Pipeline or Deploy Finished?": {
      "main": [
        [{ "node": "Pipeline Failed?", "type": "main", "index": 0 }],
        [{ "node": "Ignore Running", "type": "main", "index": 0 }]
      ]
    },
    "Pipeline Failed?": {
      "main": [
        [{ "node": "Get Jobs", "type": "main", "index": 0 }],
        [{ "node": "Pipeline Success", "type": "main", "index": 0 }]
      ]
    },
    "Get Jobs": {
      "main": [[{ "node": "Get Failed Job", "type": "main", "index": 0 }]]
    },
    "Get Failed Job": {
      "main": [[{ "node": "Get Job Logs", "type": "main", "index": 0 }]]
    },
    "Get Job Logs": {
      "main": [[{ "node": "Prepare Ollama JSON", "type": "main", "index": 0 }]]
    },
    "Prepare Ollama JSON": {
      "main": [[{ "node": "Analyze with Ollama", "type": "main", "index": 0 }]]
    },
    "Analyze with Ollama": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Send a message", "type": "main", "index": 0 }]]
    },
    "Pipeline Success": {
      "main": [[{ "node": "Send a message", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}