n8n/workflow.json
{
  "name": "GitLab DevOps AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gitlab-ai",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "7ccd579b-b0d7-4168-98c0-40bdcc1ff239",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -2048,
        656
      ],
      "webhookId": "gitlab-ai-webhook"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst data = input.body || input;\nreturn [{ json: data }];"
      },
      "id": "250b48b7-6167-4187-adf7-4279ef4c8837",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1888,
        656
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "deployment_success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.object_attributes.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "leftValue": "={{ $json.object_attributes.status }}",
              "rightValue": "running",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "184e9946-6647-41af-b2f7-fd9e56468d40",
      "name": "Pipeline or Deploy Finished?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1696,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst pipelineStatus = data.object_attributes?.status;\nconst jobs = data.builds || [];\n\nconst isPipelineFailed = pipelineStatus === 'failed';\n// Esta lógica ahora captura fallos en jobs aunque el pipeline esté en 'manual' (como sucede con security-gate)\nconst hasFailedJobInManual = pipelineStatus === 'manual' && jobs.some(job => job.status === 'failed');\n\n// Si el pipeline es un fallo directo O es manual pero tiene fallos internos, va por el camino de fallo.\nreturn isPipelineFailed || hasFailedJobInManual ? data : [];\n"
      },
      "id": "741bd4ea-bf8d-4dec-a45f-c1da456f5988",
      "name": "Check for Job Failures",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1472,
        560
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Get Jobs",
              "type": "main",
              "index": 0
            }
          ]
        ],
        "output_0": [
          [
            {
              "node": "Pipeline Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "url": "=http://gitlab-server:8000/api/v4/projects/{{ $json.project.id }}/pipelines/{{ $json.object_attributes.id }}/jobs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fcfd3cf6-65be-48c9-acf6-f8c501d1a479",
      "name": "Get Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1264,
        464
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cJwL41jWb4QSDmYR",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jobs = $input.all();\nconst failedJobs = jobs.filter(job => job.json.status === 'failed');\nif (failedJobs.length === 0) {\n  throw new Error('No failed jobs found');\n}\nfailedJobs.sort((a, b) => b.json.id - a.json.id);\nreturn [{ json: failedJobs[0].json }];"
      },
      "id": "1978175c-d81f-4c71-a9ab-4ff2c42c872e",
      "name": "Get Failed Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        464
      ]
    },
    {
      "parameters": {
        "url": "=http://gitlab-server:8000/api/v4/projects/{{ $node[\"Normalize Data\"].json[\"project\"][\"id\"] }}/jobs/{{ $node[\"Get Failed Job\"].json[\"id\"] }}/trace\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "7fde3e1e-dcfa-4158-b11d-1b09377e60a8",
      "name": "Get Job Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -832,
        464
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cJwL41jWb4QSDmYR",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nif (!input.data || input.data.trim() === '') {\n  return [{\n    json: {\n      body: {\n        model: \"mistral:7b-instruct\",\n        prompt: \"El job falló pero no tiene logs disponibles.\",\n        stream: false,\n        options: { temperature: 0.2, top_p: 0.9 }\n      }\n    }\n  }];\n}\nconst cleanLog = input.data.replace(/\\u001b\\[[0-9;]*m/g, '');\nconst body = {\n  model: \"mistral:7b-instruct\",\n  prompt: `Analiza este error de pipeline de Python/CI/CD y proporciona:\\n\\n📋 RESUMEN (1-2 líneas): ¿Qué falló?\\n\\n🔍 CAUSA RAÍZ: ¿Por qué?\\n\\n📂 ARCHIVO(S): Lista archivos y líneas\\n\\n✅ SOLUCIÓN: Código corregido\\n\\nLog:\\n---\\n${cleanLog}\\n---`,\n  stream: false,\n  options: { temperature: 0.2, top_p: 0.9 }\n};\nreturn [{ json: { body } }];"
      },
      "id": "80be0dba-6d45-47a9-a916-3c544bede9db",
      "name": "Prepare Ollama JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.12:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json[\"body\"]}}",
        "options": {}
      },
      "id": "4022db80-1c71-43f2-80a0-d63aff3704a7",
      "name": "Analyze with Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst ollamaResponse = Array.isArray(input) ? input[0] : input.body?.[0] || input;\nconst analysis = ollamaResponse.response || \"(sin respuesta)\";\nconst webhookData = $items('Normalize Data')[0]?.json || {};\nconst failedJobData = $items('Get Failed Job')[0]?.json || {};\n\nconst messageText = `\n*🚨 Pipeline Fallido*\n\n*📦 Proyecto:* ${webhookData.project?.name || 'N/A'}\n*🌿 Rama:* ${webhookData.object_attributes?.ref || 'N/A'}\n*🧩 Job:* ${failedJobData.name || 'N/A'}\n*🔗:* <${webhookData.object_attributes?.url}|Ver Pipeline>\n\n*🤖 Análisis AI*\n${analysis}\n`;\n\nreturn [{ json: { slack_text_content: messageText } }];"
      },
      "id": "57279d20-c015-4806-b70e-18efcc689f38",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Obtener todos los jobs del pipeline\nconst allJobs = data.builds || [];\nconst pipelineStatus = data.object_attributes?.status;\n\n// Si el pipeline es 'failed' o si existe CUALQUIER job fallido, aborta el camino de éxito.\nif (allJobs.some(job => job.status === 'failed')) {\n  console.log('❌ Job(s) fallidos detectados. Abortando mensaje de éxito.');\n  return [];\n}\n\n// --- Si no hay fallos, es un Pipeline Exitoso/Manual --- \n\nconsole.log('✅ No fallos detectados. Continuado con mensaje de éxito.');\n\nconst deployJob = allJobs.find(job => job.name === 'deploy-k3s');\n\n// 1. Mensaje de Deploy Exitoso (si el deploy terminó con éxito)\nif (deployJob && deployJob.status === 'success') {\n  console.log('✅ Deploy job succeeded, sending deployment success message');\n  \n  const deploymentMessage = `\\n*✅ Deploy Exitoso a Producción* 🚀\\n\\n*📦 Proyecto:* ${data.project?.name || 'N/A'}\\n*🌿 Rama:* ${data.object_attributes?.ref || 'N/A'}\\n*🔨 Commit:* \\`${data.object_attributes?.sha?.substring(0, 8) || 'N/A'}\\`\\n*💬 Mensaje:* ${data.commit?.message || 'N/A'}\\n*👤 Autor:* ${data.commit?.author?.name || data.user?.name || 'N/A'}\\n\\n*⏱️ Duración del Deploy:* ${deployJob.duration || 'N/A'}s\\n*🌍 App URL:* https://app.esprueba.com\\n\\n*🔗 Enlaces:*\\n- <${data.object_attributes?.url || '#'}|Ver Pipeline #${data.object_attributes?.id || 'N/A'}>\\n- <${deployJob.web_url || '#'}|Ver Job de Deploy>\\n\\n*📊 Resumen del Pipeline:*\\n${allJobs.filter(b => b.status === 'success').map(b => `  • ${b.name} (${b.duration}s)`).join('\\n')}\\n\\n_Deployado automáticamente por GitLab CI/CD_ \\n`;\n  \n  return [{ json: { slack_text_content: deploymentMessage } }];\n}\n\n// 2. Mensaje de Pipeline Exitoso PERO con Deploy Manual/Pendiente\n// Se ejecuta si no hubo fallos Y el deploy es manual o pendiente.\nif (deployJob && (deployJob.status === 'manual' || deployJob.status === 'created')) {\n    console.log(`⚠️ Pipeline Pasó, pero Deploy pendiente. Enviando notificación.`);\n    \n    const manualDeployMessage = `\\n*✅ Pipeline Pasó: Listo para Deploy*\\n\\n*📦 Proyecto:* ${data.project?.name || 'N/A'}\\n*🌿 Rama:* ${data.object_attributes?.ref || 'N/A'}\\n*🔨 Commit:* \\`${data.object_attributes?.sha?.substring(0, 8) || 'N/A'}\\`\\n*👤 Autor:* ${data.commit?.author?.name || data.user?.name || 'N/A'}\\n\\n*✨ Todos los Chequeos de Seguridad Pasaron*\\n\\n*🚀 ACCIÓN REQUERIDA: INICIAR EL DEPLOY MANUAL*\\n\\n*🔗:* <${data.object_attributes?.url || '#'}|Ver Pipeline #${data.object_attributes?.id || 'N/A'}>\n`;\n\n    return [{ json: { slack_text_content: manualDeployMessage } }];\n}\n\n// 3. Fallback: Mensaje estándar de pipeline exitoso (si no hay deploy job o no cumple ninguna de las anteriores)\nconsole.log('⚠️ Fallback: Deploy job no encontrado o estado no manejado. Enviando mensaje estándar.');\nconst standardMessage = `\\n*✅ Pipeline Exitoso*\\n\\n*📦 Proyecto:* ${data.project?.name || 'N/A'}\\n*🌿 Rama:* ${data.object_attributes?.ref || 'N/A'}\\n*⏱️ Duración:* ${data.object_attributes?.duration || 'N/A'}s\\n*🔗:* ${data.object_attributes?.url || '#'}\\n\\n*📊 Jobs completados:*\\n${allJobs.filter(b => b.status === 'success').map(b => `  • ${b.name} (${b.duration}s)`).join('\\n') || 'N/A'}\\n`;\n\nreturn [{ json: { slack_text_content: standardMessage } }];"
      },
      "id": "2d39a713-257f-4846-b6eb-b6051b98c6ab",
      "name": "Pipeline Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ignored: true, message: \"Pipeline running\" } }];"
      },
      "id": "f2df6495-0863-4d7a-b20f-5beabec44e1e",
      "name": "Ignore Running",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1472,
        768
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "C09RAN56Y92"
        },
        "text": "={{ $json.slack_text_content }}",
        "otherOptions": {}
      },
      "id": "73156ae4-d005-4e17-9124-13f8a88bf82c",
      "name": "Send a message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        48,
        656
      ],
      "webhookId": "50a51d59-30c3-4052-ab32-e6d65939a749",
      "credentials": {
        "slackApi": {
          "id": "UVPL6JYctnHOHrl8",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Pipeline or Deploy Finished?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline or Deploy Finished?": {
      "main": [
        [
          {
            "node": "Check for Job Failures",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Job Failures": {
      "main": [
        [
          {
            "node": "Get Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "output_0": [
        [
          {
            "node": "Pipeline Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Jobs": {
      "main": [
        [
          {
            "node": "Get Failed Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Failed Job": {
      "main": [
        [
          {
            "node": "Get Job Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Logs": {
      "main": [
        [
          {
            "node": "Prepare Ollama JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Ollama JSON": {
      "main": [
        [
          {
            "node": "Analyze with Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze with Ollama": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline Success": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "17bb1894-c93e-4b46-8cb4-93d13e430847",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8fec02d4536f3812930f20a7a32e75107a2733546bfc42d5423551ef78e737f"
  },
  "id": "0E2ELJKQeEzwbs66",
  "tags": []
}
